{% extends "fundpro-theme-base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogpage{% endblock %}

{% block content %}
<!--{#    <h1>{{ Blog : page.title }}</h1>#}-->
<!--    <p class="meta">{{ page.date }}</p>-->

<!--    <div class="intro">{{ page.intro }}</div>-->

<!--    {{ page.body }}-->

<!--    <p><a href="{{ page.get_parent.url }}">Return to blog</a></p>-->


    <!-- Section: Blog -->
    <section>
      <div class="container mt-30 mb-30 pt-30 pb-30">
        <div class="row">

          <div class="col-md-9">
            <div class="blog-posts single-post">
              <article class="post clearfix mb-0">
                <div class="entry-header">
                  <div class="post-thumb thumb">
<!--                      <img src="http://placehold.it/1920x1280" alt="" class="img-responsive img-fullwidth">-->
                      {% image page.specific.feature_image fill-1920x1280  class="img-responsive img-fullwidth" %}
                  </div>
                </div>
                <div class="entry-content">
                  <div class="entry-meta media no-bg no-border mt-15 pb-20">
                    <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                      <ul>
                        <li class="font-16 text-white font-weight-600">28</li>
                        <li class="font-12 text-white text-uppercase">Feb</li>
                      </ul>
                    </div>
                    <div class="media-body pl-15">
                      <div class="event-content pull-left flip">
                        <h4 class="entry-title text-white text-uppercase m-0"><a href="#">News :  {{ page.title}}</a></h4>
                        <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-theme-colored"></i> 214 Comments</span>
                        <span class="mb-10 text-gray-darkgray mr-10 font-13"><i class="fa fa-heart-o mr-5 text-theme-colored"></i> 895 Likes</span>
                      </div>
                    </div>
                  </div>
                  {{ page.body|richtext }}
                  <div class="mt-30 mb-0">
                    <h5 class="pull-left mt-10 mr-20 text-theme-colored">Share:</h5>
                    <ul class="styled-icons icon-circled m-0">
                      <li><a href="#" data-bg-color="#3A5795"><i class="fa fa-facebook text-white"></i></a></li>
                      <li><a href="#" data-bg-color="#55ACEE"><i class="fa fa-twitter text-white"></i></a></li>
                      <li><a href="#" data-bg-color="#A11312"><i class="fa fa-google-plus text-white"></i></a></li>
                    </ul>
                  </div>
                </div>
              </article>
              <div class="tagline p-0 pt-20 mt-5">
                <div class="row">
                  <div class="col-md-8">
                    <div class="tags">
                      <p class="mb-0"><i class="fa fa-tags text-theme-colored"></i> <span>Tags:</span> Law, Juggement, lawyer, Cases</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="share text-right">
<!--                      <p><i class="fa fa-share-alt text-theme-colored"></i> Share</p>-->
                    </div>
                  </div>
                </div>
              </div>
<!--              <div class="author-details media-post">-->
<!--                <a href="#" class="post-thumb mb-0 pull-left flip pr-20"><img class="img-thumbnail" alt="" src="http://placehold.it/110x110"></a>-->
<!--                <div class="post-right">-->
<!--                  <h5 class="post-title mt-0 mb-0"><a href="#" class="font-18">John Doe</a></h5>-->
<!--                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna et sed aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>-->
<!--                  <ul class="styled-icons square-sm m-0">-->
<!--                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="clearfix"></div>-->
<!--              </div>-->

            </div>
          </div>



          <div class="col-md-3">
<!--            <div class="sidebar sidebar-left mt-sm-30">-->
<!--              <div class="widget">-->
<!--                <h5 class="widget-title line-bottom">Search box</h5>-->
<!--                <div class="search-form">-->
<!--                  <form>-->
<!--                    <div class="input-group">-->
<!--                      <input type="text" placeholder="Click to Search" class="form-control search-input">-->
<!--                      <span class="input-group-btn">-->
<!--                      <button type="submit" class="btn search-button"><i class="fa fa-search"></i></button>-->
<!--                      </span>-->
<!--                    </div>-->
<!--                  </form>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="widget">-->
<!--                <h5 class="widget-title line-bottom">Categories</h5>-->
<!--                <div class="categories">-->
<!--                  <ul class="list list-border angle-double-right">-->
<!--                    <li><a href="#">Creative<span>(19)</span></a></li>-->
<!--                    <li><a href="#">Portfolio<span>(21)</span></a></li>-->
<!--                    <li><a href="#">Fitness<span>(15)</span></a></li>-->
<!--                    <li><a href="#">Gym<span>(35)</span></a></li>-->
<!--                    <li><a href="#">Personal<span>(16)</span></a></li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="widget">-->
<!--                <h5 class="widget-title line-bottom">Latest News</h5>-->
<!--                <div class="latest-posts">-->
<!--                  <article class="post media-post clearfix pb-0 mb-10">-->
<!--                    <a class="post-thumb" href="#"><img src="https://placehold.it/75x75" alt=""></a>-->
<!--                    <div class="post-right">-->
<!--                      <h5 class="post-title mt-0"><a href="#">Sustainable Construction</a></h5>-->
<!--                      <p>Lorem ipsum dolor sit amet adipisicing elit...</p>-->
<!--                    </div>-->
<!--                  </article>-->
<!--                  <article class="post media-post clearfix pb-0 mb-10">-->
<!--                    <a class="post-thumb" href="#"><img src="https://placehold.it/75x75" alt=""></a>-->
<!--                    <div class="post-right">-->
<!--                      <h5 class="post-title mt-0"><a href="#">Industrial Coatings</a></h5>-->
<!--                      <p>Lorem ipsum dolor sit amet adipisicing elit...</p>-->
<!--                    </div>-->
<!--                  </article>-->
<!--                  <article class="post media-post clearfix pb-0 mb-10">-->
<!--                    <a class="post-thumb" href="#"><img src="https://placehold.it/75x75" alt=""></a>-->
<!--                    <div class="post-right">-->
<!--                      <h5 class="post-title mt-0"><a href="#">Storefront Installations</a></h5>-->
<!--                      <p>Lorem ipsum dolor sit amet adipisicing elit...</p>-->
<!--                    </div>-->
<!--                  </article>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="widget">-->
<!--                <h5 class="widget-title line-bottom">Photos from Flickr</h5>-->
<!--                <div id="flickr-feed" class="clearfix">-->
<!--                  &lt;!&ndash; Flickr Link &ndash;&gt;-->
<!--                  <script type="text/javascript" src="http://www.flickr.com/badge_code_v2.gne?count=9&amp;display=latest&amp;size=s&amp;layout=x&amp;source=user&amp;user=52617155@N08">-->
<!--                  </script>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end main-content -->
{% endblock %}