{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}


    <!-- feature begin -->
    <div class="feature pt-120 pb-50">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-8 col-lg-8">
                    <div class="part-txt mb-70">
                        <div class="section-heading mb-70">
                            <h2 class="section-title mt--8 mb-25">Welcome to Our Kidba</h2>
                            <p class="heading-sub-txt mt--1 mb--8">Here is what you can expect from a house cleaning from a Handy professional.<br> Download the app to share further cleaning!</p>
                        </div>
                        <div class="row r-gap-40 has-gradient-service mb-30 mb-lg-0">
                            <div class="col-xl-6 col-md-6">
                                <div class="feature-box d-flex">
                                    <div class="feature-part-icon mr-30">
                                        <img src="assets/images/feat-icon-1.png" class="filter-shadow-1" alt="Icon">
                                    </div>
                                    <div class="feature-txt">
                                        <h3 class="feature-sub-title mt--7 mb--8"><a href="class-details.html">Active Learning</a></h3>
                                        <div class="divider mt-10 mb-20 bg-gradient-1 rounded-pill"></div>
                                        <p class="mt--6 mb--8">Since have been visonary relable sofware engnern partne.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="feature-box d-flex">
                                    <div class="feature-part-icon mr-30">
                                        <img src="assets/images/feat-icon-2.png" class="filter-shadow-2" alt="Icon">
                                    </div>
                                    <div class="feature-txt">
                                        <h3 class="feature-sub-title mt--7 mb--8"><a href="">Parents Day</a></h3>
                                        <div class="divider mt-10 mb-20 bg-gradient-2 rounded-pill"></div>
                                        <p class="mt--6 mb--8">Since have been visonary relable sofware engnern partne.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="feature-box d-flex">
                                    <div class="feature-part-icon mr-30">
                                        <img src="assets/images/feat-icon-3.png" class="filter-shadow-3" alt="Icon">
                                    </div>
                                    <div class="feature-txt">
                                        <h3 class="feature-sub-title mt--7 mb--8"><a href="class-details.html">Expert Teachers</a></h3>
                                        <div class="divider mt-10 mb-20 bg-gradient-3 rounded-pill"></div>
                                        <p class="mt--6 mb--8">Since have been visonary relable sofware engnern partne.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="feature-box d-flex">
                                    <div class="feature-part-icon mr-30">
                                        <img src="assets/images/feat-icon-4.png" class="filter-shadow-4" alt="Icon">
                                    </div>
                                    <div class="feature-txt">
                                        <h3 class="feature-sub-title mt--7 mb--8"><a href="class-details.html">Music Lessons</a></h3>
                                        <div class="divider mt-10 mb-20 bg-gradient-4 rounded-pill"></div>
                                        <p class="mt--6 mb--8">Since have been visonary relable sofware engnern partne.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4">
                    <div class="feature-img p-relative ml-30 mb-70">
                        <img src="assets/images/feature-img.jpg" alt="image">
                        <a href="#" data-video-id="6stlCkUDG_s" class="video-btn bg-gradient-1 p-absolute bottom-0 right-0 text-center text-white"><i class="icofont-play"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- feature end -->