{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}



    <div class="col-lg-4 col-md-6">
        <div class="single-blog style-two style-three">
            <a href="blog-details.html">
                <img src="assets/images/blog/blog-1.jpg" alt="Image">
            </a>

            <p class="date">11 <span>June</span></p>

            <div class="blog-content">
                <ul>
                    <li>
                        <i class="ri-user-smile-line"></i>
                        <a href="author.html">
                            By Andrew
                        </a>
                    </li>
                    <li>
                        <i class="ri-chat-smile-2-line"></i>
                        <a href="author.html">
                            Comments
                        </a>
                    </li>
                </ul>

                <h3>
                    <a href="blog-details.html">
                        How to get started fundraising for kids
                    </a>
                </h3>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, assumenda eos modi, ratione perferendis et suscipit cumque tempore</p>
            </div>
        </div>
    </div>

    