{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% if value.visible %}


{% if value.background_image_width_1920 %}

    {% image value.background_image_width_1920 width-1920 as bg_image %}

{% endif %}

		<!-- Start Banner Area -->
		<section class="banner-area banner-three-style"
				 {% if value.is_background_color %} style="background-color: {{ value.default_background }};"
				 {% elif value.background_image_width_1920 %} style="background-image: url({{ bg_image.full_url }});" {% endif %}
		>
			<div class="d-table">
				<div class="d-table-cell">
					<div class="container">
						<div class="banner-content">
							<span class="top-title">{{ value.title }}</span>
							<h1>{{ value.text }}</h1>
							<p>{{ value.post_text }}</p>

							<div class="banner-btn">
								<a href="{{ value.button_page_url.url}}" class="default-btn bg-btn">
									{{ value.button_label }}
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Banner Area -->

		<!-- Start Help Area -->
		<section class="help-area bg-f9fafb">
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-4">
						<div class="call-wrap">
							<a href="tel:+1-(514)-312-5678" class="call-us">
								<i class="ri-phone-fill"></i>
								CALL US 24/7! <br>
								<span>{{ value.phone_no }}</span>
							</a>
						</div>
					</div>

					<div class="col-lg-8">
						<div class="help-content">
							<h2>{{ value.lower_section_title}}</h2>
							<div class="row justify-content-center">
								<div class="col-lg-4 col-sm-6">
									<div class="single-help">
<!--										<img src="assets/images/icon/icon-12.png" alt="Image">-->
										{% image value.first_icon_100x100 fill-86x86 %}
										<h4>{{ value.first_icon_label }}</h4>
									</div>
								</div>

								<div class="col-lg-4 col-sm-6">
									<div class="single-help">
<!--										<img src="assets/images/icon/icon-13.png" alt="Image">-->
										{% image value.second_icon_100x100 fill-86x86 %}
										<h4>{{ value.second_icon_label  }}</h4>
									</div>
								</div>

								<div class="col-lg-4 col-sm-6">
									<div class="single-help">
<!--										<img src="assets/images/icon/icon-14.png" alt="Image">-->
										{% image value.third_icon_100x100 fill-86x86 %}
										<h4>{{ value.third_icon_label }}</h4>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Help Area -->

<!-- Start Banner Area -->
<!--<section class="banner-area used-hight">-->
<!--    <div class="d-table">-->
<!--        <div class="d-table-cell">-->
<!--            <div class="container">-->
<!--                <div class="banner-content">-->
<!--                    <h1>{{value.title}}</h1>-->
<!--                    <p>{{ value.text }}</p>-->

<!--                    <div class="banner-btn">-->
<!--                        <a href="about.html" class="default-btn border-radius-btn">-->
<!--                            {{ value.button_1_label  }}-->
<!--                        </a>-->

<!--                        <div class="call-wrap">-->
<!--                            <a href="tel:+1-(514)-312-5678" class="call-us">-->
<!--                                <i class="ri-phone-fill"></i>-->
<!--                                CALL US 24/7! <br>-->
<!--                                <span>{{ value.phone_no }}</span>-->
<!--                            </a>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    {% if value.social_media_intro_text%}-->
<!--                    <ul class="social-link">-->


<!--                        <li>-->
<!--                            <span> {{ value.social_media_intro_text|default:'Follow us'}} </span>-->
<!--                        </li>-->

<!--                        {% for item in value.social_media_items %}-->
<!--                        <li>-->
<!--                            <a href="{{item.link}}" target="_blank">-->
<!--                                <i class="ri-{{item.social_media}}-fill"></i>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        {% endfor %}-->

<!--&lt;!&ndash;                        <li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="https://www.facebook.com/" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                <i class="ri-facebook-fill"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="https://www.twitter.com/" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                <i class="ri-twitter-fill"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="https://www.linkedin.com/" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                <i class="ri-linkedin-fill"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--&lt;!&ndash;                        <li>&ndash;&gt;-->
<!--&lt;!&ndash;                            <a href="https://www.instagram.com/" target="_blank">&ndash;&gt;-->
<!--&lt;!&ndash;                                <i class="ri-instagram-line"></i>&ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--&lt;!&ndash;                        </li>&ndash;&gt;-->
<!--                    </ul>-->
<!--                    {% endif %}-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    <div class="banner-img">-->
<!--&lt;!&ndash;        <img src="assets/images/banner/banner-img.png" alt="Image">&ndash;&gt;-->
<!--        {% image value.image_945x945 fill-964x964 %}-->
<!--    </div>-->
<!--    <div class="banner-shape-1">-->
<!--        <img src="{% static 'leud_theme/assets/images/banner/banner-shape.png' %}" alt="Image">-->
<!--    </div>-->
<!--</section>-->
<!--&lt;!&ndash; End Banner Area &ndash;&gt;-->

{% endif %}