{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% if value.visible %}
{% if value.background_image_width_1920 %}
    {% image value.background_image_width_1920 width-1920 as bg_image %}
{% endif %}

    <!-- about begin -->
    <div class="pt-120 pb-120 bg-top-center general-padding"
    {% if value.is_background_color %} style="background-color: {{ value.default_background }};"
				 {% elif value.background_image_width_1920 %} style="background-image: url({{ bg_image.full_url }});" {% endif %}
    >
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <h2 class="about-title mt--8 mb-25">{{ value.title}}</h2>
                    <p class="mt--1 mb-35">{{ value.text }}</p>
                    {% if value.label %}
                    <div class="btn-box mt--3">
                        <a href="{{ value.page_url }}" class="def-btn btn-2">{{ value.button_label }}</a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <!-- about end -->

<!--<div class="col-xl-6 col-lg-12 col-md-12 popular-class-item {{value.category }}">-->
<!--    <div class="class-card class-card-2 mb-40">-->
<!--        <div class="part-img" data-background="{{  bg_image.url }}">-->
<!--            <div class="kb-class-fee-wrap-1 p-rel fix">-->
<!--&lt;!&ndash;                                <span class="class-fee">$320.00</span>&ndash;&gt;-->
<!--&lt;!&ndash;                                <span class="kb-class-tooltip-1">Tution Fee</span>&ndash;&gt;-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="popular-class-txt">-->
<!--            <a href="#" class="class-catname">{{ value.category }}</a>-->
<!--            <h3 class="class-title mt&#45;&#45;7 mb-6"><a href="class-details.html">{{value.title}}</a></h3>-->
<!--&lt;!&ndash;                            <span class="class-time mb-20">Time : 08:00am - 10:00am</span>&ndash;&gt;-->
<!--            <p class="mt&#45;&#45;8 mb&#45;&#45;8"> {{ value.text }}</p>-->
<!--            <div class="class-info mt-30 d-flex justify-content-between">-->
<!--                <div class="box kitba-box-2 text-center">-->
<!--                    <span class="single-info d-block fz-14 mt&#45;&#45;4 mb-10">{{ value.footer_left_column_label }}</span>-->
<!--                    <span class="amount d-block fz-18 color-3 fw-bold mt&#45;&#45;8 mb&#45;&#45;8">{{ value.footer_left_column_text }}</span>-->
<!--                </div>-->
<!--                <div class="box kitba-box-2 text-center">-->
<!--                    <span class="single-info d-block fz-14 mt&#45;&#45;4 mb-10"> {{ value.footer_right_column_label }} </span>-->
<!--                    <span class="amount d-block fz-18 color-1 fw-bold mt&#45;&#45;8 mb&#45;&#45;8">{{ value.footer_right_column_text }}</span>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

{% endif %}