{% load static %}
{% load wagtailimages_tags wagtailcore_tags %}
{% load wagtailuserbar %}

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<!--<title>Logixs | Logistics HTML Template | Home Page 02</title>-->
        <!-- Page Title -->
    <title>Logissolutions Ghana : {{page.title|default:"" }}</title>
<!-- Stylesheets -->
<link rel="stylesheet" href="{% static 'logis_theme/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'logis_theme/css/style.css' %}" >
<link rel="stylesheet" href="{% static 'logis_theme/css/custom.css' %}" >
<link rel="stylesheet" href="{% static 'logis_theme/css/responsive.css' %}" >

<!--<link href="css/bootstrap.min.css" rel="stylesheet">-->
<!--<link href="css/style.css" rel="stylesheet">-->
<!--<link href="css/responsive.css" rel="stylesheet">-->

<link rel="shortcut icon" href="images/favicon.png" type="image/x-icon">
<link rel="icon" href="images/favicon.png" type="image/x-icon">

<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<!--[if lt IE 9]><script src="{% static 'logis_theme/js/html5shiv.js' %}></script><![endif]-->
<!--[if lt IE 9]><script src="{% static 'logis_theme/js/respond.js' %}></script><![endif]-->
</head>

<body>

<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Main Header-->
    <header class="main-header header-style-one">
        <!-- Header Top -->
        <div class="header-top">
            <div class="top-left">
                <div class="text"><i class="fa fa-map-marker color2 me-2"></i>P. O. Box NB 322 Niiboiman,
Accra Ghana</div>
                <ul class="social-links">
                    <li><a href="#"><span class="fab fa-twitter"></span></a></li>
                    <li><a href="#"><span class="fab fa-facebook"></span></a></li>
                    <li><a href="#"><span class="fab fa-pinterest"></span></a></li>
                    <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                </ul>
            </div>

            <div class="top-right">
                <!-- Info List -->
                <ul class="info-list">
                    <li><i class="fa fa-envelope"></i> <a href="mailto:info@logisolutionsghana.com">info@logisolutionsghana.com</a></li>
                    <li><i class="fa fa-clock"></i> Mon - Sat 8:00 - 6:30, Sunday - CLOSED</li>
                </ul>
            </div>
        </div>
        <!-- Header Top -->

        <!-- Header Upper -->
        <div class="header-upper">
            <!-- Main box -->
            <div class="main-box">
                <div class="logo"><a href="/"><img src="{% static 'logis_theme/images/logi_logo.png' %}" alt="" title="logixs"></a></div>

                <!--Nav Box-->
                <div class="nav-outer">
                    <nav class="nav main-menu">
                        <ul class="navigation">
                            <li class="current" ><a href="/">Home</a></li>

                            <li class="current dropdown"><a href="index.html">About Us</a>
                                <ul>
                                    <li><a href="/about-us">Company Profile</a></li>
                                    <li><a href="/md-message">MD's Message</a></li>
                                    <li><a href="/faq">FAQ</a></li>
                                    <li><a href="/career">Career</a></li>
                                    <li><a href="/testimonials">Testimonials</a></li>

                                </ul>
                            </li>
                            <li class="current" >
                                <a href="/our-services">Our Services</a>
                            </li>
                             <li class="current" >
                                <a href="/news">News</a>
                            </li>
                           <li class="current dropdown"><a href="index.html">Contact Us</a>
                                <ul>
                                    <li><a href="/contact">Send Us an Email</a></li>
                                    <li><a href="/request-quotation">Request a Quote</a></li>


                                </ul>
                            </li>

<!--                            <li class="current" >-->
<!--                                <a href="page-contact.html">Our Services</a>-->
<!--                            </li>-->


                        </ul>
                    </nav>
                    <!-- Main Menu End-->

                    <div class="outer-box">

<!--                        <button class="ui-btn ui-btn search-btn">-->
<!--                            <span class="icon lnr lnr-icon-search"></span>-->
<!--                        </button>-->



                        <a href="#" class="theme-btn btn-style-one info-btn"><span class="btn-title"><i class="icon lnr-icon-phone-handset"></i><small>Call Anytime</small><br> +233 (0)24 483 2890 </span></a>

                        <!-- Mobile Nav toggler -->
                        <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>

            <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
            <nav class="menu-box">
                <div class="upper-box">
                    <div class="nav-logo"><a href="/"><img src="{% static 'logis_theme/images/logi_logo.png' %}" alt="" title="Fesho"></a></div>
                    <div class="close-btn"><i class="icon fa fa-times"></i></div>
                </div>

                <ul class="navigation clearfix">
                    <!--Keep This Empty / Menu will come through Javascript-->
                </ul>
                <ul class="contact-list-one">
                    <li>
                        <!-- Contact Info Box -->
                        <div class="contact-info-box">
                            <i class="icon lnr-icon-phone-handset"></i>
                            <span class="title">Call Now</span>
                            <a href="tel:+92880098670">+92 (8800) - 98670</a>
                        </div>
                    </li>
                    <li>
                        <!-- Contact Info Box -->
                        <div class="contact-info-box">
                            <span class="icon lnr-icon-envelope1"></span>
                            <span class="title">Send Email</span>
                            <a href="mailto:help@company.com">help@company.com</a>
                        </div>
                    </li>
                    <li>
                        <!-- Contact Info Box -->
                        <div class="contact-info-box">
                            <span class="icon lnr-icon-clock"></span>
                            <span class="title">Send Email</span>
                            Mon - Sat 8:00 - 6:30, Sunday - CLOSED
                        </div>
                    </li>
                </ul>


                <ul class="social-links">
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                </ul>
            </nav>
        </div><!-- End Mobile Menu -->

        <!-- Header Search -->
        <div class="search-popup">
            <span class="search-back-drop"></span>
            <button class="close-search"><span class="fa fa-times"></span></button>

            <div class="search-inner">
                <form method="post" action="index.html">
                    <div class="form-group">
                        <input type="search" name="search-field" value="" placeholder="Search..." required="">
                        <button type="submit"><i class="fa fa-search"></i></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- End Header Search -->

        <!-- Sticky Header  -->
        <div class="sticky-header">
            <div class="auto-container">
                <div class="inner-container">
                    <!--Logo-->
                    <div class="logo">
                        <a href="/" title=""><img src="{% static 'logis_theme/images/logi_logo.png' %}" alt="" title=""></a>
                    </div>

                    <!--Right Col-->
                    <div class="nav-outer">
                        <!-- Main Menu -->
                        <nav class="main-menu">
                            <div class="navbar-collapse show collapse clearfix">
                                <ul class="navigation clearfix">
                                    <!--Keep This Empty / Menu will come through Javascript-->
                                </ul>
                            </div>
                        </nav><!-- Main Menu End-->

                        <!--Mobile Navigation Toggler-->
                        <div class="mobile-nav-toggler"><span class="icon lnr-icon-bars"></span></div>
                    </div>
                </div>
            </div>
        </div><!-- End Sticky Menu -->
    </header>
    <!--End Main Header -->

    {% if page.title == 'Home'%}

    {% else %}
        {% if self.banner_background_image %}
            {% image self.banner_background_image width-1920 as bg_image %}
        {% endif %}

    	<!-- Start main-content -->
	<section class="page-title"
             {% if bg_image %} style="background-image: url({{ bg_image.full_url }});" {% endif %}
		>
		<div class="auto-container">
			<div class="title-outer">
				<h1 class="title">

                {% if self.title %}
                  {{ self.title }}
                {% else %}
                  {{title}}
                {% endif %}</h1>
				<ul class="page-breadcrumb">
					<li><a href="index.html">Home</a></li>
<!--					<li><a href="#">Pages</a></li>-->
					<li>

                {% if self.title %}
                  {{ self.title }}
                {% else %}
                  {{title}}
                {% endif %}

                    </li>
				</ul>
			</div>
		</div>
	</section>
	<!-- end main-content -->


    <!--End Main Header -->
    {% endif %}

    {% block content %}

      {% endblock content %}

{% wagtailuserbar 'bottom-left' %}
    <!-- Main Footer -->
    <footer class="main-footer alternate">
        <!--Widgets Section-->
        <div class="widgets-section" style="background-image: url(./images/background/5.jpg)">
            <div class="auto-container">
                <div class="row">
                    <!--Footer Column-->
                    <div class="footer-column col-xl-4 col-lg-12 col-md-6 col-sm-12">
                        <div class="footer-widget about-widget">
                            <div class="logo"><a href="index.html"><img src="{% static 'logis_theme/images/logi_logo.png' %}" alt="" /></a></div>
                            <div class="text">
                                Logi Solution is an Innovative Logistics Solutions Provider. After many years of service in the industry, we decided its time to establish a logistics company that understands that every customer is unique and therefore offers tailored solutions to suite our clients’ Requirements.
                            </div>



                            <ul class="social-icon-one">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>

                    <!--Footer Column-->
                    <div class="footer-column col-xl-4 col-lg-12 col-md-6 col-sm-12">
                        <div class="footer-widget">
                            <h5 class="widget-title">Menu</h5>
                            <ul class="user-links">
                                <li><a href="#">About Company</a></li>
                                <li><a href="#">Servicesn</a></li>
                                <li><a href="#">Request a Quote</a></li>

                                <li><a href="#">Contact</a></li>
                            </ul>
                        </div>
                    </div>


                    <!--Footer Column-->
                    <div class="footer-column col-xl-4 col-lg-12 col-md-6 col-sm-12">
                        <div class="footer-widget">
                            <h5 class="widget-title">Contact</h5>
                            <div class="widget-content">
                                <ul class="contact-list">
                                    <li>
                                        <i class="fa fa-phone-square"></i>
                                        <strong>Phone</strong>
                                        <a href="tel:+926668880000">+233 (0)26 334 4466 /(0)24 483 2890</a>
                                    </li>
                                    <li>
                                        <strong>Email</strong>
                                        <i class="fa fa-envelope"></i>
                                        <a href="mailto:info@logisolutionsghana.com">info@logisolutionsghana.com</a>
                                    </li>
                                    <li>
                                        <strong>Address</strong>
                                        <i class="fa fa-map-marker"></i>
                                        P. O. Box NB 322 Niiboiman, Accra Ghana
                                    </li>
                                    <li>
                                        <strong>Mon - Sat</strong>
                                        <i class="fa fa-clock"></i>
                                        8.00am to 9.00pm (Sun: Closed)
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!--Footer Bottom-->
        <div class="footer-bottom">
            <div class="auto-container">
                <div class="inner-container">
                    <div class="copyright-text">
                        <p class="white-text">© Copyright @2023 LogiSolutions Ghana.    |     Design by <a href="farandsononline.com">farandsononline.com</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--End Main Footer -->

</div><!-- End Page Wrapper -->

<!-- Scroll To Top -->
<div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>

<script src="{% static 'logis_theme/js/jquery.js' %}"></script>
<script src="{% static 'logis_theme/js/popper.min.js' %}"></script>
<script src="{% static 'logis_theme/js/bootstrap.min.js' %}"></script>
<script src="{% static 'logis_theme/js/jquery.fancybox.js' %}"></script>
<script src="{% static 'logis_theme/js/wow.js' %}"></script>
<script src="{% static 'logis_theme/js/appear.js' %}"></script>
<script src="{% static 'logis_theme/js/jquery-ui.js' %}"></script>
<script src="{% static 'logis_theme/js/select2.min.js' %}"></script>
<script src="{% static 'logis_theme/js/swiper.min.js' %}"></script>
<script src="{% static 'logis_theme/js/owl.js' %}"></script>
<script src="{% static 'logis_theme/js/script.js' %}"></script>

</body>
</html>