{% extends "logis-theme-base.html" %}
{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}
{% block body_class %}template-homepage{% endblock %}

{% block extra_css %}

{% comment %}
Delete the line below if you're just getting started and want to remove the welcome screen!
{% endcomment %}


{% endblock extra_css %}

{% block content %}

flex page
{% if this_page_type == "team" %}

<!--    {% include "name_snippet.html" with person="Jane" greeting="Hello" %}-->

{% elif page_type == 'project' %}

<!--{% include "name_snippet.html" with person="Jane" greeting="Hello" %}-->

{% elif page_type == 'service' %}

<!--{% include "name_snippet.html" with person="Jane" greeting="Hello" %}-->

{% else %}
     {% for block in page.body %}
    {% include_block block %}
        {% endfor %}


{% endif %}

{% endblock content %}