{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

    <!-- Section: About -->
<section id="about" class="new-padding">
      <div class="container">
        <div class="section-content">
          <div class="row">
            <div class="col-md-6 mt-20">
              <div class="row">
                <div class="col-md-6 col-sm-6 pl-0">
                  <div class="img-hover-border mt-sm-40">
                      {% image value.photo_1 fill-275x335 class="img-fullwidth" %}
<!--                      {# image value.photo_1 fill-275x335 class="img-fullwidth" #}-->
{#                    <img class="img-fullwidth" src="http://placehold.it/275x335" alt="">#}
                  </div>
                </div>
                <div class="col-md-6 col-sm-6 pl-0 pr-0">
                  <div class="img-hover-border mt-sm-30">
<!--                      {# image value.photo_2 fill-280x160 class="img-fullwidth" #}-->
                      {% image value.photo_2 fill-280x160 class="img-fullwidth" %}
{#                    <img class="img-fullwidth" src="http://placehold.it/280x156" alt="">#}
                  </div>
                  <div class="img-hover-border mt-15 mt-sm-30">
<!--                      {# image value.photo_3 fill-325x160 class="img-fullwidth" #}-->
                      {% image value.photo_3 fill-325x160 class="img-fullwidth" %}
{#                    <img class="img-fullwidth" src="http://placehold.it/325x176" alt="">#}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="about-details">
                <h2 class="font-36 mt-0"> {{ value.title_start }} <span class="text-theme-colored">{{ value.title_colored }}</span> {{ value.title_end }}</h2>
                {{ value.text }}
{#                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam, odioserunt provident maiores consectetur adipisicing elit. Aliquam odio dese runtesseu provident maiores libero porro dolorem est. Velit necessitatibus fugiat error incidunt excepturi doloribus officia aspernatur quod libero  Velit necessitatibus fugiat error incidunt excepturi doloribus officia</p>#}
<!--                <div class="singnature mt-20">-->
<!--&lt;!&ndash;                  <img src="{% static 'fundpro_theme/images/signature.png' %}" alt="img1">&ndash;&gt;-->
<!--                </div>-->
                   {% if value.button_1_label %} <a href="{% pageurl value.button_1_page_url %}" class="btn btn-flat btn-colored btn-theme-colored mt-15 mr-15"> {{value.button_1_label}}</a> {% endif %}
                   {% if value.button_2_label %} <a href="{% pageurl value.button_1_page_url %}" class="btn btn-flat btn-colored btn-default btn-theme-colored mt-15"> {{value.button_2_label}} </a> {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>