{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}



<!-- Section: blog -->
    <section id="blog" {% if is_gray_background %} class="bg-silver-light" {% endif %}>
      <div class="container">
        <div class="section-title text-center">
          <div class="row">
            <div class="col-md-10 col-md-offset-1">
              <h2 class="text-uppercase line-bottom-center mt-0">{{ value.title }} <span class="text-theme-colored font-weight-600">{{ value.title_colored }}</span></h2>
              <div class="title-icon">
                <i class="flaticon-charity-hand-holding-a-heart"></i>
              </div>
              {{  value.content_text|richtext }}
            </div>
          </div>
        </div>
        <div class="section-content">
          <div class="row">
            {% for item in value.items %}
                <div class="col-xs-12 col-sm-6 col-md-4">
              <article class="post clearfix mb-sm-30 bg-silver-light">
                <div class="entry-header">
                  <div class="post-thumb thumb">
                      {% image item.specific.feature_image fill-360x245 %}
{#                    <img src="http://placehold.it/360x245" alt="" class="img-responsive img-fullwidth">#}
                  </div>
                </div>
                 <div class="bg-theme-colored p-5 text-center pt-10 pb-10">
<!--                    <span class="mb-10 text-white mr-10 font-13"><i class="fa fa-share-alt mr-5 text-white"></i>24 Share</span>-->
<!--                    <span class="mb-10 text-white mr-10 font-13"><i class="fa fa-commenting-o mr-5 text-white"></i> 214 Comments</span>-->
<!--                    <span class="mb-10 text-white mr-10 font-13"><i class="fa fa-heart-o mr-5 text-white"></i> 895 Likes</span>-->
                 </div>
                <div class="entry-content p-20 pr-10">
                  <div class="entry-meta media mt-0 no-bg no-border">
                    <div class="entry-date media-left text-center flip bg-theme-colored pt-5 pr-15 pb-5 pl-15">
                      <ul>
                        <li class="font-16 text-white font-weight-600 border-bottom">{{ item.specific.day_published}}</li>
                        <li class="font-12 text-white text-uppercase">{{ item.specific.month_published }}</li>
                      </ul>
                    </div>
                    <div class="media-body pl-15">
                      <div class="event-content pull-left flip">
                        <h4 class="entry-title text-white text-uppercase m-0 mt-5"><a href="#">{{ item.title }}</a></h4>
                      </div>
                    </div>
                  </div>
                  <p class="mt-10">{{ item.specific.intro }}</p>
                  <a href="{% pageurl item %}" class="btn btn-default btn-sm btn-theme-colored mt-10">Read more</a>
                </div>
              </article>
            </div>
            {% endfor %}

          </div>
        </div>
      </div>
    </section>

  <!-- Section: what we -->
{#    <section>#}
{#      <div class="container">#}
{#        <div class="section-title text-center">#}
{#          <div class="row">#}
{#            <div class="col-md-8 col-md-offset-2">#}
{#              <h2 class="mt-0 text-uppercase">{{ value.title }} <span class="text-theme-colored font-weight-600"> {{ value.title_colored }}</span></h2>#}
{#              <div class="title-icon">#}
{#                <i class="flaticon-charity-hand-holding-a-heart"></i>#}
{#              </div>#}
{#              <p class="lead font-weight-400">{{  value.content_text|richtext }}</p>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#        <div class="section-content text-center">#}
{#          <div class="row">#}
{#            {% for blurb in value.blurbs %}#}
{#                        <div class="col-xs-12 col-sm-6 col-md-4">#}
{#                            <div class="icon-box iconbox-theme-colored pl-0 pr-0">#}
{#                              <a href="#" class="">#}
{#                                <img src="images/flaticon-png/small/5.png" width="90" alt="">#}
{#                                {% image blurb.blurb_image_90x90 fill-90x90 %}#}
{#                              </a>#}
{#                              <h3 class="mt-20 mb-20 font-weight-600"><a href="#">{{ blurb.title }}</a></h3>#}
{#                              {{ blurb.content_text }}#}
{#                                {% if blurb.button_label %}#}
{#                              <a class="btn btn-default btn-theme-colored btn-sm mt-10" href="{{ blurb.button_page_url }}">{{ blurb.button_label }}</a>#}
{#                                {% endif %}#}
{#                            </div>#}
{#                        </div>#}
{#            {% endfor %}#}
{##}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#    </section>#}


