{% load static %}
{% load wagtailcore_tags wagtailimages_tags %}

{% if value.visible %}

{% if value.background_image_width_1920 %}
    {% image value.background_image_width_1920 width-1920 as bg_image %}
{% endif %}

		<!-- Start Volunteers Area -->
		<section class="volunteers-area pt-100 pb-70 general-padding"

		{% if value.is_background_color %} style="background-color: {{ value.default_background }};"
				 {% elif value.background_image_width_1920 %} style="background-image: url({{ bg_image.full_url }});" {% endif %}
		>
			<div class="container">
				<div class="row align-items-center">
					<div class="col-lg-8">
						<div class="section-title section-title-left">
							<span class="top-title">{{ value.title }}</span>
							<h2>{{ value.intro_text }}</h2>
						</div>
					</div>

					<div class="col-lg-4">
						<div class="text-right">
							{% if value.button_label %}
							<a href="{{ value.button_url.url }}" class="default-btn border-btn">{{ value.button_Label }}</a>
							{% endif %}
						</div>
					</div>
				</div>

				<div class="row">
					{% for person in value.people %}
					<div class="col-lg-3 col-sm-6">
						<div class="single-volunteers">
<!--							<img src="assets/images/volunteers/team-1.jpg" alt="Image">-->
							{% image person.photo_570x570 fill-570x570 alt="Image" %}

							<div class="volunteer-content">
								<h3>{{ person.full_name }}</h3>
								<span>{{ person.role }}</span>

								<ul>
									{% for social_link in person.social_media_links %}
									<li>
										<a href="{{ social_link.link }}" target="_blank">
											<i class="ri-{{ social_link.social_media }}-fill"></i>
										</a>
									</li>
								{% endfor %}
								</ul>
							</div>
						</div>
					</div>
					{% endfor %}


				</div>
			</div>
		</section>
		<!-- End Volunteers Area -->



{% endif %}